extends auth-layout

block content
  // Page content
  .container.mt--8.pb-5
    .row.justify-content-center
      .col-lg-5.col-md-7
        .card.bg-secondary.shadow.border-0
          .card-body.px-lg-5.py-lg-5
            form(role='form' action='/admin/login' method='post')
              .form-group.mb-3
                .input-group.input-group-alternative
                  .input-group-prepend
                    span.input-group-text
                      i.ni.ni-email-83
                  input.form-control(placeholder='Email' type='email' name='email')
              .form-group
                .input-group.input-group-alternative
                  .input-group-prepend
                    span.input-group-text
                      i.ni.ni-lock-circle-open
                  input.form-control(placeholder='Password' type='password' name='password')
              .text-center
                button.btn.btn-primary.my-4(type='submit') Sign in
        //- .row.mt-3
          .col-6
            a.text-light(href='/admin/forgot-password')
              small Forgot password?
