extends layout

block content
  .row
    .col
      .card.shadow
        .card-header.border-0
          h3.mb-0 Posts
        .table-responsive.text-center
          table.table.align-items-center.table-flush
            thead.thead-light
              tr
                th(scope='col') Title
                th(scope='col') Status
            tbody
              each post in posts
                tr
                  th(scope='row')
                    .media.align-items-center
                      .media-body
                        a(href='/admin/post/' + post.id)
                          span.mb-0.text-sm= post.title
                  td
                    span.badge.badge-dot.mr-4
                      if post.status == 1
                        i.bg-success
                        |  active
                      else
                        i.bg-warning
                        |  nonactive
              
    


    


