extends layout

block content
  .container
    .row
      .col-md-2
      .col-md-8.col-md-offset-2
        .mainheading
          .row.post-top-meta.authorpage
            .col-md-10.col-xs-12
              h1 Sal
              span.author-description
                | Founder of 
                a(target='_blank' href='https://www.wowthemes.net') WowThemes.net
                |  and creator of 
                strong &quot;Mediumish&quot;
                |  theme that you&apos;re currently previewing. I professionally develop premium themes, templates &amp; scripts since the Apocalypse (2012). You can reach me out on the social links below.
              .sociallinks
                a(target='_blank' href='https://www.facebook.com/wowthemesnet/')
                  i.fa.fa-facebook
                span.dot
                a(target='_blank' href='https://plus.google.com/s/wowthemesnet/top')
                  i.fa.fa-google-plus
              a.btn.follow(target='_blank' href='https://twitter.com/wowthemesnet') Follow
            .col-md-2.col-xs-12
              img.author-thumb(src='https://www.gravatar.com/avatar/e56154546cf4be74e393c62d1ae9f9d4?s=250&d=mm&r=x' alt='Sal')
